/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  }
  
.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
  }
  
.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
  }
  
.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
  }
  
.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
 
.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}  





body {
  background-color: #B9918C;
  font-family: "Play", sans-serif;
  height: 98vh;
}


.tete { 
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 18, 53);
  height: 10%;
  border-color: aliceblue;
  border : 1px solid;
}

.imghd {
  float: left;
  width: 40%;
}

.img {
  border-radius: 50%; /*Contour  cercle*/
  width: 40%;
}

.nav {
  background-color: rgb(10, 31, 20);
  text-align:start; 

}

.nav li { 
  display: inline-block; /*permet de mettre mes éléments en ligne*/
  font-size: 15px;  
}

.nav a { /* liens dans ma navbar*/
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  color: white;
}

.nav a:hover { /*effet de transition au survol*/
  background: #1a4e30;
  transition-duration: 1.5s;
}


h1 {
  background-color: rgb(104, 34, 34);
  font-family: "Kode Mono", monospace;
  text-align: left;
}

.quote-container {
  font-family: "Courier Prime", monospace;
  box-shadow: 0px 3px black;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 100px;
  padding-left: 50px;
}


#canvas {
display: flex;
align-items: center;
flex-direction: column;
}

.game {
  height: 100%;
}


footer {
  margin-top: 30px;
  text-align: center ;
}



/* Media queries : 
  Extra large devices (large laptops and desktops, 1200px and up)
 
@media only screen and (min-width: 1200px) {
  proprieties here
} 
  large devices (laptop/desktops : 992px & + 
  Medium devices : landscape tablets : 768px & + 
  Small devices : portrait tablets + large phones : 600 px &+ 
  Extra small devices : phones : 600px & - 
